.landing {
  display: flex;
  justify-content: space-around;
  height: 100vh;
  background-color: rgb(250, 236, 218);
}

.distortion {
  width: 640px;
  height: 426px;
  align-self: center;
}
.intro {
  align-self: center;
}

.intro h2 {
  font-size: 50px;
}

.intro p {
  font-size: 25px;
}
